/* Universal Styles　*/

body {
    background-color: black;
    font-family: Verdana, sans-serif;
    text-align: center;

}


/*　header　*/

h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;

}

p a {
    color: aquamarine;
    font-size: 16px;
}

/*　Main　*/

h2{
    font-weight: 300;
    font-size: 42px;
    color: white;

}

h3{
    font-size: 21px;
    color: gray;
}

/*　Footer　*/

footer{
    text-align: right;
    font-size: 21px;
    color: gray;

}

.fa-copyright{
    margin-right : 10px;
}

@media only screen and (max-width: 480px){

}

@media only screen and (min-width: 768px) and (max-width: 1024px){

}